.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: calc(100dvw - 80px);
    max-width: 1300px;
    /* padding: 20px; */
    /* margin: 0 40px; */
    /* border:  thick double var(--color-text-green); */
    box-sizing: border-box;
}

.topSection {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: thick double var(--color-text-green);
}

.imageWrapper {
    position: relative;
    width: 300px;
    height: 310px;

}

.titleWrapper {
    display: flex;
    flex-direction: column;

}

.title {
    text-wrap: balance;
    /* text-align: center; */
    max-width: 700px;
    margin: 0;
    padding: 0;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 55px;
    font-weight: 400;
    font-family: var(--font-press_start_2P);
}

.subTitle {
    text-wrap: balance;
    text-align: left;
    margin: 0;
    padding: 20px 0 0 0;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 35px;
    font-weight: 400;
    font-family: var(--font-handjet);
}

.middleSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    /* padding: 20px; */
    border: thick double var(--color-text-green);
}

.leftColumnWrapper {
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-right: thick double var(--color-text-green);
}

.commonTitle {
    margin: 0;
    padding: 10px;
    text-wrap: balance;
    text-align: center;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 30px;
    font-weight: 400;
    font-family: var(--font-press_start_2P);
    border-top: 1px dashed var(--color-text-green);
    border-bottom: 1px dashed var(--color-text-green);
}

.contactPoint {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contactPointLink {
    all: unset;
    cursor: pointer;

}

.contactPointLink:hover svg {
    fill: #fffacd;

}

.githubLinkHover:hover svg g g {
    fill: #fffacd;
}

.contactPointText {
    display: flex;
    flex-direction: column;
}

.contactPointTitle {
    margin: 0;
    padding: 0;
    text-wrap: balance;
    text-align: left;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 26px;
    font-weight: 400;
    font-family: var(--font-handjet);
}

.contactPointSubTitle {
    margin: 0;
    padding: 0;
    text-wrap: balance;
    text-align: left;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-handjet);
}

.rightColumnWrapper {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.rowWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--color-text-green);
}

.subTitleInvert{
    margin: 5px 0;
    padding: 0;
    text-align: left;
    font-style: normal;
    color: var(--color-black);
    font-size: 28px;
    font-weight: 400;
    font-family: var(--font-handjet);
    background-color: var(--color-text-green);
}

.dateText {
    margin: 0;
    padding: 0;
    text-wrap: balance;
    text-align: left;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 30px;
    font-weight: 400;
    font-family: var(--font-handjet);
}

.eduTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eduTextTitle {
    margin: 0;
    padding: 0;
    text-wrap: balance;
    text-align: left;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 26px;
    font-weight: 400;
    font-family: var(--font-handjet);
}
