:root {
  --color-black: #000;
  --color-black-overlay: rgba(0, 0, 0, 0.8);
  --color-pure-lamp: #fefea6;
  --color-text-green: #cbfb83;

  --layer-of-matrix-text: 2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
