.page {
  position: relative;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  background: var(--main-background-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* animation: text-effect-glow  5s linear infinite; */
}

.monitorCRTEffect {
  position: absolute;
  width: 100dvw;
  height: 100%;
  box-shadow: var(--main-box-shadow-view);
  z-index: var(--top-layer);
  pointer-events: none;
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.21) 0), linear-gradient(90deg, rgba(255, 0, 0, 0.055), rgba(0, 255, 0, 0.03), rgba(0, 0, 255, 0.055));
  background-size: 100% 0.2142857143rem, 0.2857142857rem 100%;

}

.pageFullHeight {
  height: 100%;
}

/* @keyframes text-effect-glow {
    50% {
      text-shadow: 0 0 0.2857142857rem white, 0 0 0.5714285714rem white;
      color: #c6fc7e;
    }
    } */
