.section {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--color-black);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all .3s 4s;
}

.loading {
    opacity: 1;
    visibility: visible;
}

.deleting {
    transition: all .3s 2s;
    opacity: 0;
    visibility: hidden;
}

.deleteLayer {
    display: none;
}

.text {
    width: 550px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-handjet);
}

.cursor {
    display: inline-block;
    background-color: var(--color-text-green);
    margin-left: 0.5rem;
    width: 8px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        background-color: var(--color-text-green);
    }

    49% {
        background-color: var(--color-text-green);
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: var(--color-text-green);
    }
}

@media (max-width: 700px) {
    .text {
        width: calc(100dvw - 20px);
    }
}