.section {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-black);
    overflow: hidden;
}

.overlayWrapper {
    opacity: 1;
    visibility: visible;
    transition: all 3s ease-in-out;

}

.loading {
    opacity: 0;
    visibility: hidden;
}

.overlay {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: var(--layer-of-matrix-text);
}

.titleWrapper {
    margin: 10px;
    background-color: var(--color-black-overlay);
    width: 100%;
    max-width: 500px;
    border: 1px dashed var(--color-text-green);
}

.title {
    text-wrap: balance;
    text-align: center;
    margin: 0;
    padding: 30px 30px 5px 30px;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 30px;
    font-weight: 400;
    font-family: var(--font-handjet);
}

.subTitle {
    text-wrap: balance;
    text-align: center;
    margin: 0;
    padding: 0px;
    font-style: normal;
    color: var(--color-text-green);
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-handjet);
    padding-bottom: 30px;
}

@media (max-width: 700px) {
    .title {
        font-size: 26px;
        padding: 20px 10px 5px 10px;

    }

    .subTitle {
        font-size: 20px;
        padding-bottom: 20px;
    }
}