.section {
    position: relative;
    width: 100%;
    height: auto;
}


/* @media (max-width: 520px) {
    .imageCard {
        width: calc(100dvw - 30px);
        height: calc((100dvw - 30px) * 426 / 500);
    }

    .articleWrapper {
        width: calc(100dvw - 30px);
        padding: 5px;
    }

    .articleTitle {
        font-size: 16px;
        padding: 5px 0 5px;
    }

    .articleText {
        font-size: 14px;
        text-align: center;
    }

    .title {
        padding: 10px 0 10px;
        font-size: 20px;
    }

    .row {
        gap: 15px;
    }
} */